@model BlogArchive
@{
    ViewBag.Title = Model.Title;
}
@section head {
    <link rel="stylesheet/less" type="text/css" href="~/css/config.min.css">
    <link rel="stylesheet/less" type="text/css" href="~/css/components/block.min.css">
    <link rel="stylesheet/less" type="text/css" href="~/css/news.min.css">
}
<div class="container-fluid">
    <partial name="/Views/Shared/Partial/_Menu.cshtml" />

    @await Html.PartialAsync("/Views/Shared/Partial/_Hero.cshtml", Model)

    <div class="main">
        @foreach (var post in Model.Archive.Posts)
        {
            <a href="@post.Permalink">
                <div class="row archive-item">
                    <div class="hover-border"></div>

                    <div class="col-sm-12">
                        <h2>@post.Title</h2>
                        <p class="subtitle">
                            @post.Published.Value.ToString("yyyy-MM-dd") in @post.Category.Title
                        </p>
                    </div>

                    <div class="col-sm-9">
                        <p>
                            @post.Regions.Hero.Ingress.Value
                        </p>
                    </div>
                </div>
            </a>
        }
        </div>

    <partial name="/Views/Shared/Partial/_Footer.cshtml" />
</div>

@section script {
    @*<script type="text/javascript" src="~/assets/js/news.js"></script>*@
}