@model LoginPage
@inject IApi Api

@{
    ViewBag.Title = Model.Title;
}

@section head {
    <link rel="stylesheet/less" type="text/css" href="~/css/portal.min.css">
}

<div class="d-flex justify-content-center">
    <div class="form">
        <div class="logo-box">
            <div class="logo logo-dark"></div>
        </div>

        @if ( !string.IsNullOrWhiteSpace( ViewBag.StatusMessage ))
        {
            <p>@ViewBag.StatusMessage</p>
        }

        <form method="post" action="@Model.Fields.ButtonLink.Value">
            <label for="email">@Model.Fields.Email.Value</label>
            <input id="email" type="email" name="email" placeholder="@Model.Fields.Email.Value..." />

            <label for="password">@Model.Fields.Password.Value</label>
            <input id="password" type="password" name="password" placeholder="@Model.Fields.Password.Value..." />

            <input id="remember" type="checkbox" name="remember" checked="checked" value="true" />
            <label for="remember">@Model.Fields.Remember.Value</label>

            <button>@Model.Fields.ButtonText.Value</button>
            <a href="/"><i class="fas fa-arrow-left"></i>@Model.Fields.ReturnButtonText.Value</a>
        </form>
    </div>
</div>