@model RegisterPage
@inject IApi Api

@{
    ViewBag.Title = Model.Title;
}

@section head {
    <link rel="stylesheet/less" type="text/css" href="~/css/portal.min.css">
}

<div class="d-flex justify-content-center form-register">
	<div class="form">
		<div class="logo-box">
			<div class="logo logo-dark"></div>
		</div>

		<form method="post" action="@Model.Fields.ButtonLink.Value">
			<label for="type">@Model.Fields.AccountTypeText.Value</label>

			<select>
                @{ 
                    foreach ( var accountType in Model.Types.Where( m => m.Visible ) )
                    {
                        <option value="@accountType.Value">@accountType.Title</option>       
                    }
                }
			</select>

			<div class="d-inline-flex">
				<div class="padding padding-right">
					<input id="firstname" type="text" name="firstname" placeholder="@Model.Fields.FirstName.Value...">
				</div>
				<div class="padding padding-left">
					<input id="lastname" type="text" name="lastname" placeholder="@Model.Fields.LastName.Value...">
				</div>
			</div>

			<input id="email" type="email" name="email" placeholder="@Model.Fields.Email.Value...">

			<div class="d-inline-flex">
				<div class="padding padding-right">
					<input id="password" type="password" name="password" placeholder="@Model.Fields.Password.Value...">
				</div>
				<div class="padding padding-left">
					<input id="confirmPassword" type="password" name="confirmPassword" placeholder="@Model.Fields.ConfirmPassword.Value...">
				</div>
			</div>

			<div class="box">
				<input id="tos" type="checkbox" name="tos">
                <label for="tos">@Model.Fields.Tos.Value</label>
			</div>

            <button>@Model.Fields.ButtonText.Value</button>
            <a href="/"><i class="fas fa-arrow-left"></i>@Model.Fields.ReturnButtonText.Value</a>
		</form>
	</div>
</div>