@model RegisterPage
@inject IApi Api

@{
    ViewBag.Title = Model.Title;

    // Check if there's an error set in tempData and display it
    string statusMessage = TempData["StatusMessage"] != null ? TempData["StatusMessage"].ToString() : "";
    string[] errors = (TempData["Errors"] != null) ? (string[])TempData["Errors"] : null;
}

@section head {
    <link rel="stylesheet/less" type="text/css" href="~/css/portal.min.css">
}

<div class="d-flex justify-content-center form-register">
	<div class="form">
		<div class="logo-box">
			<div class="logo logo-dark"></div>
		</div>

        @if ( !string.IsNullOrWhiteSpace(statusMessage) )
        {
            <span class="statusMessage">@statusMessage</span>
        }

        @if ( errors != null && errors.Length > 0 )
        {
            foreach ( var error in errors )
            {
                <span class="statusMessage">@error</span>
            }
        }

        <form method="post" action="@Model.Fields.ButtonLink.Value">
            @Html.AntiForgeryToken()

            <div class="input-icons"> 
                <i class="material-icons">email</i> 
                <input id="email" type="email" name="email" placeholder="@Model.Fields.Email.Value...">
            </div> 

            <div class="input-icons">
                <i class="material-icons">dns</i>
                <input id="subdomain" type="text" name="subdomain" placeholder="@Model.Fields.Subdomain.Value...">
            </div>

            <div class="input-icons">
                <i class="material-icons">business</i>
                <input id="businessUnitName" type="text" name="businessUnitName" placeholder="@Model.Fields.BusinessUnitName.Value...">
            </div>

            <div class="d-inline-flex">
                <div class="padding padding-right">
                    <div class="input-icons">
                        <i class="material-icons">lock</i>
                        <input id="password" type="password" name="password" placeholder="@Model.Fields.Password.Value...">
                    </div>
                </div>
                <div class="padding padding-left">
                    <div class="input-icons">
                        <i class="material-icons">lock</i>
                        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="@Model.Fields.ConfirmPassword.Value...">
                    </div>
                </div>
            </div>

            <div class="passwordRequirements">
                <span><strong>@Model.Fields.PasswordRequirementText</strong></span>

                <ul class="requirements">
                    <li class="minLengthRequirement"><i class="fas fa-times"></i>@Model.Fields.minLengthRequirement</li>
                    <li class="numberRequirement"><i class="fas fa-times"></i>@Model.Fields.numberRequirement</li>
                    <li class="upperCaseRequirement"><i class="fas fa-times"></i>@Model.Fields.upperCaseRequirement</li>
                    <li class="specialCharRequirement"><i class="fas fa-times"></i>@Model.Fields.specialCharRequirement</li>
                    <li class="passwordMatchRequirement"><i class="fas fa-times"></i>@Model.Fields.passwordMatchRequirement</li>
                </ul>
                </div>

            <div class="box">
                <input id="tos" type="checkbox" name="tos" value="true">
                <label for="tos">@Html.Raw(Model.Fields.Tos.Value)</label>
            </div>

            @Html.Recaptcha(RecaptchaSettings.Value)

            <button disabled>@Model.Fields.ButtonText.Value</button>
            <a href="/"><i class="fas fa-arrow-left"></i>@Model.Fields.ReturnButtonText.Value</a>
        </form>
	</div>
</div>

@section script {
    <script type="text/javascript" src="~/assets/js/register.js"></script>
}