<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">

    <!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">

    <title>@ViewBag.Title</title>

    @if (Model is Piranha.Models.IMeta) {
        <partial name="Partial/_Meta.cshtml" />
    }

    <!-- Custom styles -->
    @RenderSection("head", required: false)
</head>
<body>
    @if (!string.IsNullOrWhiteSpace(ViewBag.CultureUrl))
    {
        <p>New path: @ViewBag.CultureUrl</p>
        <p>Old path: @ViewBag.RequestPath</p>
    }

    @RenderBody()
    <!-- Scripts -->
    <script src="~/assets/js/less.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/popper.min.js"></script>
    <!-- Custom scripts -->
    @RenderSection("script", required: false)
</body>
</html>