@{ 
    var sitemap = WebApp.Site.Sitemap;
    var homePageResult = await WebApp.Api.Pages.GetStartpageAsync<StartPage>();
    var footerPages = homePageResult.FooterPages.ToList();
}

<!-- START FOOTER -->
<div class="row">
    <div class="col-lg">
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-block footer-block-left">
                        <a href="~/"><div class="logo"></div></a>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="footer-block footer-block-middle">
                        <ul>
                            @foreach ( var item in footerPages )
                            {
                                if ( item.Column == 1 )
                                {
                                    <li><a href="@item.PageLink.Page.Permalink">@item.Title</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="footer-block footer-block-right">
                        <ul>
                            @foreach (var item in footerPages)
                            {
                                if (item.Column == 2)
                                {
                                    <li><a href="@item.PageLink.Page.Permalink">@item.Title</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copyright">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="left">
                                <p>&copy; @DateTime.Now.Year, <a href="#">Rentvision</a>. All rights reserved.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="right">
                                <a href="#">Terms and conditions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER -->