@{ 
    var rqf = Context.Features.Get<IRequestCultureFeature>();
    var culture = rqf.RequestCulture.Culture.TwoLetterISOLanguageName;
    var culturePrefix = $"{culture.Replace("en", "")}";

    // Get current siteId based on users' culture
    var sites = await WebApp.Api.Sites.GetAllAsync();
    var site = sites.SingleOrDefault(m => m.Culture == culture);

    var sitemap = WebApp.Site.Sitemap;
    var homePageResult = await WebApp.Api.Pages.GetStartpageAsync<StartPage>(site.Id);
    var termsAndConditions = await WebApp.Api.Pages.GetBySlugAsync<StandardPage>($"terms-and-conditions", site.Id);
    var privacy = await WebApp.Api.Pages.GetBySlugAsync<StandardPage>($"privacy", site.Id);
    var footerItems = homePageResult.FooterItems.ToList();
}

<!-- START FOOTER -->
<div class="row">
    <div class="col-lg">
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-block footer-block-left">
                        <a href="~/"><div class="logo"></div></a>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="footer-block footer-block-middle">
                        <ul>
                            @foreach ( var item in footerItems)
                            {
                                if ( item.Column == 1 )
                                {
                                    <li><a href="@item.PageLink.Page.Permalink">@item.Title</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="footer-block footer-block-right">
                        <ul>
                            @foreach (var item in footerItems)
                            {
                                if (item.Column == 2)
                                {
                                    <li><a href="@item.PageLink.Page.Permalink">@item.Title</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copyright">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="left">
                                <p>&copy; @DateTime.Now.Year, <a href="/">RentVision</a>. All rights reserved.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="right">
                                <a href="@termsAndConditions.Permalink">@termsAndConditions.Title</a> - <a href="@privacy.Permalink">@privacy.Title</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER -->