@{
    var sitemap = WebApp.Site.Sitemap;
}

@*
<nav class="navbar navbar-toggleable-sm navbar-dark bg-faded d-sm-block d-md-none">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            @foreach (var item in sitemap)
            {
                <a class="nav-item nav-link @(item.Id == WebApp.PageId ? "active" : "")" href="@item.Permalink"><span>@item.MenuTitle</span></a>
            }
        </div>
    </div>
</nav>


<nav class="navbar d-none d-md-block">
    <ul class="nav nav-site justify-content-center">
        @foreach (var item in sitemap)
        {
            <li class="nav-item @(item.Id == WebApp.PageId ? "active" : "")">
                <a class="nav-link" href="@item.Permalink"><span>@item.MenuTitle</span></a>
            </li>
        }
    </ul>
</nav>
*@

<!-- START HEADER -->
<div class="row">
    <div class="col-sm-12">
        <header>
            <div class="nav nav-left">
                <div class="logo"></div>
            </div>
            <div class="nav nav-right">
                <div id="rightmenu-mobile" class="nav-mobile">
                    <i class="fas fa-bars"></i>
                </div>

                <div id="rightmenu">
                    <ul class="menuoptions">
                        <li><a class="button button-active" href="/register.html"><i class="fas fa-user-plus"></i>Create an account</a></li>
                        <li><a class="button button-inactive" href="/login.html"><i class="fas fa-home"></i>Customer login</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
</div>
<!-- END HEADER -->