@using RentVision.Helpers

@{
    var rqf = Context.Features.Get<IRequestCultureFeature>();
    var culture = rqf.RequestCulture.Culture.TwoLetterISOLanguageName;

    var sitemap = WebApp.Site.Sitemap;

    // Get current siteId based on users' culture
    var sites = await WebApp.Api.Sites.GetAllAsync();
    var site = sites.SingleOrDefault(m => m.Culture == culture);

    // Get current start page
    var pageResult = await WebApp.Api.Pages.GetAllAsync<StartPage>(siteId: site.Id);
    var siteStartPage = pageResult.SingleOrDefault(m => m.Route == "/start" && m.SiteId == site.Id);

    StartPage startPage = await WebApp.Api.Pages.GetByIdAsync<StartPage>(siteStartPage.Id);
}

<!-- START HEADER -->
<div id="header">
    <div id="leftmenu">
        <a href="/@culture.Replace("en", "")">
            <img alt="logo" src="~/assets/images/logos/RentVision-03-Light.svg">
        </a>
    </div>

    <div id="middlemenu">
    </div>

    <div id="rightmenu-mobile">
        <i class="fa fa-bars fa-2x"></i>
    </div>

    <div id="rightmenu">
        <ul id="menuoptions">
            @*<li class="headerOption home">
                <div class="headerHoverBar"></div>
                <i class="fa fa-angle-down"></i>
                Home
                <ul class="headerDropdown">
                    @{ 
                        foreach ( var headerItem in headerItems )
                        {
                            <a href="@headerItem.PageLink.Page.Permalink">
                                <li>
                                    <div class="headerHoverBar"></div>
                                    @headerItem.Title
                                </li>
                            </a>
                        }
                    }
                </ul>
            </li>*@

            @{ 
                foreach ( var headerItem in startPage.HeaderItems )
                {
                    var currentPage = await WebApp.Api.Pages.GetByIdAsync(WebApp.PageId);
                    string active = currentPage.Title == headerItem.Title ? "active" : "";

                    <a href="@headerItem.PageLinkFixed.Value">
                        <li class="headerOption home @active">
                            <div class="headerHoverBar"></div>
                            <i class="fas @headerItem.Icon.Value"></i>@headerItem.Title
                        </li>
                    </a>
                }
            }
        </ul>
    </div>
</div>
<!-- END HEADER -->