@model PlansPage

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@inject IViewLocalizer Localizer

@{
    var plans = Model.Plans;
}

<!-- START PLANS -->
<div class="row">
    <div class="col-lg">
        <div class="plans">
            <div class="plans-inner">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <div class="filterBox">
                            <h5>@Localizer["Choose your plan"]</h5>
                            <select class="planFilter">
                                <option value="2" selected>@Localizer["Monthly"]</option>
                                <option value="1">@Localizer["Yearly"]</option>
                            </select>
                        </div>
                    </div>
                    @if (plans.Count > 0)
                    {
                        foreach (var plan in plans)
                        {
                            var price = (plan.Price == "0") ? Localizer["Free"].Value.ToString() : plan.Price.Value.ToString();

                            <div class="col-lg-4 col-sm-6">
                                <div class="plan" data-plan="@plan.UserPlanType.Value">
                                    @*<div class="border border-red"></div>*@
                                    <h3 class="title" style="text-shadow: none !important;">@plan.Title</h3>
                                    <i class="material-icons-outlined">@plan.Icon.Value</i>

                                    <h5 class="price">@price!</h5>
                                    @*<span class="paymentInterval">@plan.PaymentType</span>*@

                                    <p><a class="button button-active" href="/register">@Localizer["Sign up"]</a></p>
                                </div>

                                <div class="features">
                                    <ul>
                                        @{
                                            foreach (var feature in Model.Features)
                                            {
                                                string inactive = "";
                                                string icon = "fa-check";

                                                switch (plan.UserPlanType)
                                                {
                                                    case "Free":
                                                        inactive = (feature.PlanFreeEnabled) ? "" : "inactive";
                                                        icon = (feature.PlanFreeEnabled) ? "fa-check" : "fa-times";
                                                        break;
                                                    case "Basic":
                                                        inactive = (feature.PlanBasicEnabled) ? "" : "inactive";
                                                        icon = (feature.PlanBasicEnabled) ? "fa-check" : "fa-times";
                                                        break;
                                                    case "Pro":
                                                        inactive = (feature.PlanProEnabled) ? "" : "inactive";
                                                        icon = (feature.PlanProEnabled) ? "fa-check" : "fa-times";
                                                        break;
                                                }

                                                <li class="@inactive">
                                                    <div class="feature">
                                                        <i class="fas @icon"></i>

                                                        @feature.Title
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PLANS -->