@model PlansPage

@{
    var plans = Model.Plans;
    var rqf = Context.Features.Get<IRequestCultureFeature>();
    var culture = rqf.RequestCulture.Culture.TwoLetterISOLanguageName;
    var test = Localizer.WithCulture(new System.Globalization.CultureInfo(culture));
}

<!-- START PLANS -->
<div class="row">
    <div class="col-lg">
        <div class="plans">
            <div class="plans-inner">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <div class="filterBox">
                            <h5>@test["Choose your plan"]</h5>
                            <select class="planFilter">
                                <option value="2" selected>@test["Monthly"]</option>
                                <option value="1">@test["Yearly"]</option>
                            </select>
                        </div>
                    </div>
                    <div class="price-plan-wrapper">
                        <div class="row">
                            @if (plans.Count > 0)
                            {
                                foreach (var plan in plans)
                                {
                                    var price = (plan.Price == "0") ? test["Free"].Value.ToString() : plan.Price.Value.ToString();

                                    <div class="col-lg-4 col-md-6">
                                        <div class="pricing-table-2" data-pid="" data-plan="@plan.UserPlanType.Value" data-plan-name-localized="@test[plan.Title]">
                                            <div class="price-header">
                                                <div class="icon"><i class="fa fa-paper-plane"></i></div>
                                                <h3 class="title">@plan.Title</h3>
                                                <div class="price">
                                                    @{
                                                        if (plan.UserPlanType != "Free")
                                                        {
                                                            <span class="dollar">&euro;</span>
                                                            <div class="realPrice">@plan.Price.Value</div>
                                                            <span class="month">/Mo</span>
                                                        }
                                                        else
                                                        {
                                                            <div class="realPrice">@price!</div>
                                                        }
                                                    }
                                                </div>
                                            </div>

                                            <div class="price-body">
                                                <ul>
                                                    <li><b>Free</b> Security Service</li>
                                                </ul>
                                            </div>
                                            <div class="price-footer">
                                                <a class="order-btn" href="">@test["Sign up"] <i class="fa fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PLANS -->